#tumunu gormezden gel
*.*
*/*

#.gitignore disinda tabi
!.gitignore

#sadece .java ve .form uzantili dosyalari yuklemek yeterli (bu calismadi)
!*.java
!*.form
#!untitled/src/temel_kavramlar_ve_degiskenler/testCases.md
!README.md

#*.md
*.xml

#.java dosyalarinin oldugu dosya yolunu belirtelim
!untitled/src/
!untitled/src/diziler/img/

#.gif vs gibi uzantılari gormesi icin
!*.gif
!*.jpg


